<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geographyquizzes">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeographyQuizzes"
        android:name=".ROOM.RoomApp">
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".CapitalCitiesQuiz"
            android:exported="false" />
        <activity
            android:name=".ResultsActivity"
            android:exported="false" />
        <activity
            android:name=".CountryOutlineQuiz"
            android:exported="false" />
        <activity
            android:name=".FlagQuiz"
            android:exported="false" />
        <activity
            android:name=".QuizChoicesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.quizapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>